<!doctype html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            body {
                background-color: #f49ac2;
            }
        
            .red {
                color: red;
            }

            .blue{
                color: blue;
            }
        
            .container {
                margin-top: 10em;
                background-color: white;
                padding: 5em 0 5em 0 !important;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-md-6 offset-md-3">
                <div class="d-flex justify-content-center">
        
                    <form action="/login" method="post">
                        <div class="row">
                            {% block img %} {% endblock %}
                            <div class="col-md-4 d-inline">
                                Email:
                            </div>
                            <div class="col-md-8 d-inline">
                                {% block email %}
                                    <input type="text" name="email">
                                {% endblock %}
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-4 d-inline">
                                Password:
                            </div>
                            <div class="col-md-8 d-inline">
                                {% block password %}
                                    <input type="password" name="password">
                                {% endblock %}
                            </div>
                        </div>
                        <div class="col-12 text-center pt-3">
                            {% block access %}
                            
                                <input class="btn btn-primary btn-block" type="submit" value="Log in">
                            {% endblock %}
                        </div>
        </form>
                </div>
            </div>
        
        </div>
        
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>